*{
    padding: 0px;
    margin: 0px;
}
.miDiv{
   
    background: #a84848;
    width: 200px;
    height: 200px;
    /*
    min-width: 200px;
    height: 200px;
    */
    border: solid 2px #000000;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;


    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-top: 25px;

    /*
    margin: 25px 25px;
    padding: 25px 25px;
    */
   /* border-radius: 50%; */

   /*
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;

    */

   /* box-sizing: padding-box;*/
  
  /*  box-sizing: border-box; */

}

.miElemento{
    padding-top: 30px;
    margin-top: 30px;
    display: inline-block;
}

.elementoOculto{
    display: none;
}

.posiciones{
    width: 120px;
    height: 120px;
    border: solid 1px #000000;
    background: #a84848;

}

.posicionRelativa{
    position: relative;
    left: 20px;
    top: 10px;
}

.posicionAbosoluta{
    position: absolute;
    left: 20px;
    top: 140px;
}

.posicionFixed{
    position: fixed;
    top: 130px;
    left: 100px;
}

.flotanteDerecha{
    float: right;
    background-color: #a84848;
    width: 150px;
    height: 150px;
    padding: 10px;
}
.flotanteIzquierda{
    padding: 10px;
    float: left;
    background-color: #2980B9;
    width: 150px;
    height: 150px;
}
.limpiar{
    clear: both;
}

.a{
    width: 150px;
    height: 200px;
    background-color: #2980B9;   
    position: relative;
    z-index: 3;
}

.b{
    width: 150px;
    height: 200px;
    background-color: #a84848 ;
    position: relative;
    left: 50px;
    top: -110px;
    z-index: 1;
}
.c{
    width: 150px;
    height: 200px;
    background-color: green;
    top: -210px;
    z-index: 2;
    position: relative;
    left: 100px;
}

/*
Elaborar un HTML en donde se pueda visualizar el contenido en dos secciones
1-Seccion 1 (fila):
    tres imagenes (columnas) en elementos tipo bloque apilados de izquierda 
    a derecha, cada imagen debe ocupar un 33% de la pagina.

1- Seccion 2 (fila):
    2 subsecciones (columnas): contenido izquierda tenga un texto amplio,
    segundo contenido este a la derecha, va a contener un una lista.
    Colocar un border de 1px solid en gris. 
    margen dentre ellas de 5%.
    Cada una de las columnas 60% a la del texto
    30% a la segunda columna 
*/



