
.miDiv{
   
    background: #a84848;
    width: 200px;
    height: 200px;
    /*
    min-width: 200px;
    height: 200px;
    */
    border: solid 2px #000000;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;


    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-top: 25px;

    /*
    margin: 25px 25px;
    padding: 25px 25px;
    */
   /* border-radius: 50%; */

   /*
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;

    */

   /* box-sizing: padding-box;*/
  
  /*  box-sizing: border-box; */

}

.miElemento{
    padding-top: 30px;
    margin-top: 30px;
    display: inline-block;
}

.elementoOculto{
    display: none;
}

.posiciones{
    width: 120px;
    height: 120px;
    border: solid 1px #000000;
    background: #a84848;

}

.posicionRelativa{
    position: relative;
    left: 20px;
    top: 10px;
}

.posicionAbosoluta{
    position: absolute;
    left: 20px;
    top: 140px;
}

.posicionFixed{
    position: fixed;
    top: 130px;
    left: 100px;
}

.flotanteDerecha{
    float: right;
    background-color: #a84848;
    width: 150px;
    height: 150px;
    padding: 10px;
}
.flotanteIzquierda{
    padding: 10px;
    float: left;
    background-color: #2980B9;
    width: 150px;
    height: 150px;
}
.limpiar{
    clear: both;
}

.a{
    width: 150px;
    height: 200px;
    background-color: #2980B9;   
    position: relative;
    z-index: 3;
}

.b{
    width: 150px;
    height: 200px;
    background-color: #a84848 ;
    position: relative;
    left: 50px;
    top: -110px;
    z-index: 1;
}
.c{
    width: 150px;
    height: 200px;
    background-color: green;
    top: -210px;
    z-index: 2;
    position: relative;
    left: 100px;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 20px;
    text-shadow: 5px;
}

div{
    text-align: center;
}


a{
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    padding: 10px 20px;
    box-shadow: 0px 5px 0px #000000;
}

a:link{
    color: #df1338;
    font-size: 15px;
}

a:visited{
    color: #000000;
}

a:hover{
    text-decoration: underline;
    font-size: 30px;
    background-color: #2980B9;
}

a:active{
    background-color: blue;
}

.contenedorImagen{
    width: 500px;
    height: 100px;
    background-color: cadetblue;

}

img{
    width: 100px;
    margin: auto;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 5px 5px  0px #CCC;
    padding: 10px;
}

ul{
    list-style-type: circle;
    list-style-position: inside;
}

ol{
    list-style-type: upper-roman;
}

.menu{
    width: 100%;
    background-color: #CCC;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li{
    display: inline-block;
}

.menu li a{
    padding: 10px 10px;
    display: inline-block;
    color: #000;
}

menu li a:hover{
    background: #CCC;
    color: black;
}

table{
    border: 1px solid #000;
    border-collapse: separate;
    width: 500px;

}

table td{
    border: 1px solid #000;
    padding: 4px;
}

table tr:hover{
    background-color: #CCC;
}

table td:hover{
    background-color: black;
    color: white;
}

form{
    width: 25%;
    border: 1px solid #CCC;
    margin: 20px;
    padding: 20px;
}

label{
    font-size: 12;
    display: block;
    width: 100%;
}

input, textarea{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    border: 1px solid #CCC;
}

input:focus, textarea:focus{
    border: 1px solid #1668C4;
}

textarea{
    resize: vertical;
    max-width: 100px;
    max-height: 30px;
}

input[type="submit"]{
    margin-bottom: 0px;
    background-color: #1668C4;
    color: #FFF;
    border: none;
}

input[type="submit"]:hover{
    background-color: #4A88F4;
    cursor: pointer;
}







